
<div class="container">
    <form action="/productos" method="post" class="form">
        <label>Titulo</label>
        <input type="text" name="title"/>
        
        <label>Precio</label>
        <input type="text" name="price"/>
        
        <label>Foto</label>
        <input type="text" name="photo"/>
        
        <button class="btn-save ">Guardar producto</button>
    </form>
<a href="/productos" class="container link"><button class="btn">Listar productos</button></a>
</div>