<div>
    <h1>Listado de productos</h1>
<ul>
    <li>Nombre:</li>
    <li>Precio:</li>
    <li>Imagen:</li>
</ul>

<ul>
    <li>{{this.title}}</li>
    <li>{{this.price}}</li>
    <li><img height="50px" width="50px" src={{this.thumbnail}}/></li>
</ul>

<a href="/"><button class="btn">Volver</button></a>
