<div>
    <h1>Listado de productos</h1>
    {{#if subirProducto}}
    <div>
    <ul>
        <li>Nombre:</li>
        <li>Precio:</li>
        <li>Imagen:</li>
    </ul>
    {{#each productos}}
    <ul>
        <li>{{this.title}}</li>
        <li>${{this.price}}</li>
        <li><img height="50px" width="50px" src={{this.thumbnail}} /></li>
    </ul>
    {{/each}}
</div>
    <div>
    {{else}}
    <h3>No hay productos listados!</h3>
    {{/if}}
    </div>
    <a href="/"><button class="btn">Volver</button></a>